/* src\pages\Cadastro\styles.css */

.pagina-cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 32px;
    background-color: #f4f4f4; 
}
.lista-pratos{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.card li{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 75%;
}
.cardapio img{
  width: 20vw;
  height: 25vh;
}