/* src\pages\Lista\styles.css */


.pagina-Cardapio {
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4; 
}
  
.container-cardapio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

